<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script>var $j = jQuery.noConflict(true);</script>
    <link rel="stylesheet" href="/css/main.css">
    <script src="{{ asset('/js/lib.js') }}"></script>
    <script src="{{ asset('/js/list.js') }}"></script>
    <script src="{{ asset('/js/jquery.tmpl.js') }}"></script>
</head>
<body>
{{ include('inc/navbar.html.twig') }}
<div class="container">
    {% block body %}{% endblock %}
</div>
<div id="loading"></div>
{% block javascripts %}
{% endblock %}
{{ include('tmpl/alert.html.twig') }}
{{ include('tmpl/box.html.twig') }}
<span class="d-block p-2 bg-primary text-white text-center">{{ appVersion }} copyright Future-Soft Sp. z o.o.</span>
</body>
</html>
